@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-spaceGrotesk text-[20px] tracking-[-0.03em] text-p2;
  }

  a {
    @apply no-underline;
  }
}

@layer utilities {
  
  .container {
    @apply mx-auto max-w-[1440px] max-lg:px-6 max-sm:px-4;
  }

  
  .nav-active {
    @apply text-p1;
  }

  
  .nav-logo {
    @apply relative flex flex-1 items-center justify-center;
  }

  
  .sidebar-before {
    @apply max-lg:before:absolute max-lg:before:-right-64 max-lg:before:top-2/5 
      max-lg:before:h-[440px] max-lg:before:w-[252px] max-lg:before:bg-p2 
      max-lg:before:blur-[200px] max-lg:before:content-[''];
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
